@mixin cellule($nbCol, $offset, $nbColGrille,$lgGut){

  $lgCol : (100% - ($lgGut * ($nbColGrille+1))) / $nbColGrille;

  width: ($nbCol * $lgCol + ($nbCol - 1) * $lgGut);

  margin-left: $offset * $lgCol + ($offset +1) * $lgGut;


  overflow-wrap: break-word;
  flex-shrink: 0;
  box-sizing: border-box;

}

@mixin ligne(){
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

$btnValideColor: #007bff;
$errorColor: red;

#borrow_form, #return_form{
  .error_message{
    color: $errorColor;
    width: 100%;
    text-align: center;
  }

  .validate_btn{
    background-color: $btnValideColor;
    height: 3em;
    border-radius: 6px;

    &:hover{
      background-color: lighten($btnValideColor,10%);
    }
  }
}

.nomPage{
  width: 50%;
  margin-left: 25%;
  text-align: center;
  height: auto;
  border: 2px solid black;
  background-color: grey;
  font-size: 2em;
}

/*KELMOUA SCSS*/
$formcolor:#2F3336;
$tablecolor: #007bff;
$profilColor: red;

img{
  width: 40px;
  height: 40px;
}

#a1{
  display: block;
  padding-top: 3px;
  padding-left: 5px;
  width: 100px;
  height: 60px;
  float: left;
  clear: left;
}
#a2
{
  text-decoration:none;
  font-size: 40px;
  color: white;
  font-family: verdana;
  height: 60px;


}
#a3,#a4{
  background-color:gray;
  border-radius:70%;
  text-decoration : none;
  width:100px;
  height:100px;
  color: white;
  font-size: 16px;

}
tr,th,td
{
  border:1px solid black;
  background-color:$tablecolor;
}
header,footer{
  text-align: center;
  color: white;
  background-color: $formcolor;
}

.tableprofil{
  margin: auto;
}

.ar1{
  text-align: center;

}

#footerapp {
  background-color: $formcolor;
  @include cellule(12, 0, 12, 0);
  height: 40px;
  bottom: 0;
  position: fixed;
}

  #headerapp{

    @include cellule(12,0,12,0);
    height: 80px;
    margin-right: 10px;
    margin-top: -8px;
    margin : auto;
  }
// FIN KELMOUA SCSS

// POUR TOUT ECRANS
@media(min-width: 0px){
  // HABIB RECAP EMPRUNTS also RETURN_RECAP (Younes)
  #sectionEmprunt, #sectionReturn{

    @include cellule(3,0,3,1.6%);

    #lstEmprunt,#lstReturn{
      @include cellule(4,4,12,1.6%);
      margin-top: 2em;
    }
    #TTemprunt,#TTreturn{
      @include cellule(4,6  ,12,1.6%);
    }
    #lstReturn{
      @include ligne();
      .list_documents{
        @include cellule(1,0,2,1.6%);
      }
    }
    p{
      color:#9c9c9c;
      text-decoration-line: underline;
      text-decoration-color: #007bff;
    }
  }
  // FIN HABIB RECAP EMPRUNTS and RETURN_RECAP (Younes)
}

/* TOUT ECRANS PORTRAIT */
@media (min-width: 0px) and (orientation: portrait){
  // HABIB MENU
  #sectionMenu{
    @include cellule(12,0,12,1.6%);
    margin-top:20%;

    #divMenu{
      @include ligne();

      #MenuGestionEmprunt,#MenuGestionRetour,#MenuGestionUsager{
        @include cellule(8,2,12,1.6%);
        background-color: grey;
        border: 2px solid black;
        height: 3em;
        font-size: larger;
        text-align: center;
      }
      #MenuGestionRetour{
        margin-top: 2em;
      }
      #MenuGestionUsager{
        margin-top: 2em;
      }
    }
  }
  // HABIB FIN MENU
}

/* TABLETTES PORTRAIT */
@media (min-width: 0px) and (orientation: portrait) and (max-width: 992px){
  // BORROW (Jacques) also for return form RETURN(Younes)
  #borrow_form, .nomPage, #return_form{
    width: 80%;
    margin-left: 10%;
  }
  #borrow_form, #return_form{
    label, input{
      width: 100%;
      height: 3em;
    }

    #borrow_form_reference,#borrow_form_other,#return_form_reference,#return_form_other{
      margin-top: 1em;
    }

    #borrow_small_text, #return_small_text{
      @include ligne();

      small{
        margin-bottom: 1em;
      }
    }
  }
  // FIN BORROW (Jacques) RETURN (Younes)

}
/* TABLETTES PAYSAGE */
@media (min-width: 0px) and (orientation: landscape) and (max-width: 992px){
  // BORROW (Jacques) also for return form RETURN(Younes)
  #borrow_form, #return_form{
    width: 80%;
    margin-left: 10%;

    #borrow_form_user,#borrow_form_reference, #return_form_user, #return_form_reference{
      @include ligne;
      label{
        @include cellule(1,0,3,1.6%);
      }
      input{
        height: 3em;
        @include cellule(2,0,3,1.6%);
      }
    }

    #borrow_form_reference,#borrow_form_other, #return_form_reference, #return_form_other{
      margin-top: 1em;
    }

    #borrow_form_other, #return_form_other{
      #borrow_small_text,#return_small_text{
        @include ligne();

        small{
          margin-bottom: 1em;
        }
      }

      .validate_btn{
        @include cellule(1,0,1,1.6%);
      }
    }
  }
  // FIN BORROW (Jacques) RETURN (Younes)

  // HABIB MENU
  #sectionMenu{
    @include cellule(12,0,12,1.6%);
    margin-top:20%;

    #divMenu{

      @include ligne();

      #MenuGestionEmprunt,#MenuGestionRetour,#MenuGestionUsager{
        @include cellule(1.5,2,12,1.6%);
        background-color: grey;
        border: 2px solid black;
        font-size: larger;
        text-align: center;
        height: 5em;
        width: 5em;

      }
    }
  }
  //FIN HABIB MENU
}

/*LAPTOP*/
@media (min-width: 992px){
  // BORROW (Jacques) also for return form RETURN(Younes)
  #borrow_form, #return_form{
    width: 50%;
    margin: auto;

    form{
      @include ligne();

      #borrow_form_user,#borrow_form_reference,#return_form_user,#return_form_reference{
        @include cellule(1,0,2,0);

        .borrow_label{
          @include cellule(1,0,3,1.6%);
        }
        input{
          @include cellule(2,0,3,1.6%);
        }

      }

      #borrow_form_other,#return_form_other{
        width: 100%;

        #borrow_small_text,#return_small_text{
          @include cellule(1,1,2,0);
          margin-top: 1em;
        }

        .validate_btn{
          width: 50%;
          margin-left: 25%;
          margin-top: 1em;
        }
      }

    }
  }
  // FIN BORROW (Jacques) RETURN (Younes)

  //MENU HABIB
  #sectionMenu {
    @include cellule(12, 0, 12, 1.6%);


    margin-top: 20%;


    #divMenu {

      @include ligne();

      #MenuGestionEmprunt, #MenuGestionRetour, #MenuGestionUsager {
        @include cellule(1.5, 2, 12, 1.6%);
        background-color: grey;
        border: 2px solid black;
        font-size: larger;
        text-align: center;
        height: 5em;

      }
    }

    //FIN MENU HABIB
  }
}
